// bootstrap color variables
$msv-transparent: transparent;
$msv-white: #FFFFFF;
$msv-black: #000000;
$msv-blue:    #0062AF;
$msv-green-light: #18d501;
$green-border-video: #83e584;
$box-shadow-video: #002200;
$video-thum-background: #439643;
$runable-track-background: #4c833a;
$thum-shadow: #00aa00;
$volume-container-bg: #6c757d;
$msv-green: #107C10;
$green-background: #205928;
$msv-red: #A80000;
$msv-pink: #FCDFDF;
$msv-cyan: #0776D1;
$msv-yellow:#FFFF00;
$msv-grey: #323130;
$msv-gray-100: #F8F7F6;
$msv-gray-200: #E8E8E8;
$msv-gray-300: #D1D1D1;
$msv-gray-400: #6B727A;
$msv-gray-500: #616365;
$msv-gray-600: #C4C4C4;
$msv-gray-800: #8F8F8F;
$msv-gray-900: #1D1D1D;
$msv-gray-1000: #2D2D2D;
$msv-gray-tint: #495057;
$msv-primary: #4C833A;
$msv-primary-hover: #39632C;
$msv-secondary: #6C757D;
$msv-secondary-hover: #E1EFDC;
$msv-gray-30: #2C262D;
$msv-blue-tint: #0094FF;
$msv-loading: #17a2b8;
$msv-text-color: $msv-gray-900;
$msv-link-color: $msv-gray-900;
$msv-divider-color: $msv-gray-300;
$msv-error-color: $msv-red;
$msv-success-color: $msv-green;
$modal-input-background: $msv-gray-100;
$msv-modal-overlay: rgba(0, 0, 0, 0.7);
$msv-box-shadow-color: rgba(0, 0, 0, 0.132);
$msv-selected-user-background-color-light: rgba(0, 0, 0, 0.3); 
$msv-selected-user-background-color: rgba(0, 0, 0, 0.04);
$msv-selected-button-background: rgba(0, 0, 0, 0.02);
$msv-selected-hovered-button-background: rgba(0, 0, 0, 0.04);
$msv-flyout-empty-img-border: #F3F2F1;
$facebook-bg-color: #3C3C41;
$facebook-hover-color: #1D1D1D;
$microsoft-bg-color: #3C3C41;
$microsoft-hover-color: #1D1D1D;
$social-bg-color: #3C3C41;
$social-hover-color: #1D1D1D;
$msv-unfilled-rating-color: $msv-gray-800;

//Fonts
$msv-primary-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
$msv-font-assistant: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$msv-font-cinzel: Times, "Times New Roman", serif;
$msv-font-weight-bold: bold;
$msv-font-weight-normal: normal;
$msv-font-weight-small: 100;
$msv-font-weight-light: 300;
$msv-font-weight-medium: 400;
$msv-font-weight-heavy: 600;
$msv-font-weight-large: 800;
$msv-font-weight-xlarge: 900;
$msv-heading-text-size: 20px;
$msv-heading-line-height: 28px;
$msv-font-size-s: 14px;
$msv-font-size-m: 16px;
$msv-font-size-l: 18px;
$msv-font-size-xl: 24px;
$msv-font-size-max: 28px;
$msv-font-size-xxl: 48px;
$msv-title-font-size-xs: 24px;
$msv-title-font-size-s: 36px;
$msv-title-font-size-max: 64px;
$msv-title-font-size-m: 100px;
$msv-title-font-size-l: 160px;
$msv-line-height-s: 18px;
$msv-line-height-m: 21px;
$msv-line-height-l: 24px;
$msv-line-height-xl: 31px;
$msv-line-height-xxl: 63px;
$msv-title-line-height-xs: 31px;
$msv-title-line-height-s: 46px;
$msv-title-line-height-m: 134px;
$msv-title-line-height-l: 215px;
$msv-icon-size-small: 16px;
$msv-icon-size: 24px;
$msv-text-size: $msv-font-size-m;
$msv-text-line-height: 20px;

//Icons
$msv-icon-font-family: "Font Awesome 5 Free";
$msv-solid-icon-weight: 900;
$msv-outline-icon-weight: 400;
$msv-CommentSolid: "\f27a";
$msv-ChevronDown: "\f078";
$msv-ChevronUp: "\f077";
$msv-Edit: "\f303";
$msv-Add: "\f067";
$msv-Cancel: "\f00d";
$msv-More: "\f141";
$msv-Settings: "\f013";
$msv-Phone: "\f095";
$msv-Shop: "\f290";
$msv-Shop-Address: "\f3c5";
$msv-Filter: "\f0b0";
$msv-Search: "\f002";
$msv-FavoriteStar: "\f005";
$msv-FavoriteStarFill: "\f005";
$msv-half-star: "\f089";
$msv-Delete: "\f2ed";
$msv-Save: "\f0c7";
$msv-Play: "\f04b";
$msv-Pause: "\f04c";
$msv-ChevronLeft: "\f053";
$msv-ChevronRight: "\f054";
$msv-Contact: "\f007";
$msv-Warning: "\f071";
$msv-IncidentTriangle: "\f071";
$msv-Dislike: "\f165";
$msv-Like: "\f164";
$msv-DislikeSolid: "\f165";
$msv-LikeSolid: "\f164";
$msv-Comment: "\f27a";
$msv-Heart: "\f004";
$msv-HeartFill: "\f004";
$msv-IdCard: "\f2c2";
$msv-DeliveryTruck: "\f0d1";
$msv-SolidPlay: "\f04b";
$msv-Mute: "\f6a9";
$msv-UnMute: "\f028";
$msv-Fullscreen: "\f065";
$msv-ExitFullscreen: "\f066";
$msv-ClosedCaptions: "\f20a";
$msv-Selected: "\f00c";
$msv-Error: "\f06a";
$msv-Checkbox: "\f0c8";
$msv-Checkbox-Checked: "\f14a";
$msv-Checkbox-Circle-Checked: "\f058";
$msv-RadioBtnOff: "\f111";
$msv-RadioBtnOn: "\f192";
$msv-SignIn: "\f2f6";
$msv-SignOut: "\f2f5";
$msv-History: "\f1da";
$msv-MapPin: "\f276";
$msv-ContactCard: "\f2c2";
$msv-GlobalNavButton: "\f0c9";
$msv-Remove:"\f068";
$msv-ShoppingCart:"\f07a";
$msv-ToggleLeft:"\f204";
$msv-ToggleRight:"\f205";
$msv-arrow-right: "\f061";
$msv-Spinner: "\f110";
$msv-file: "\f15c";
$msv-StoreAlt: "\f54f";
$msv-DollarSign: "\f155";
$msv-OrganizationUsers:"\f0c0";
$msv-ListAlt: "\f022";
$msv-List:"\f0ca";
$msv-TH:"\f00a";
$msv-TH-List:"\f00b";
$msv-TH-Large:"\f009";
$msv-Arrow-Right-In-Circle:"\f35a";
$msv-Ellipses-V: "\f142";
$msv-Arrow-Down: "\f063";
$msv-Arrow-Up: "\f062";
$msv-PlusSquare: "\f0fe";
$msv-InfoCircle: "\f05a";
$msv-Plus: "\f067";
$msv-BackArrow: "\f060";
$msv-invoice: "\f570";
$msv-cube: "\f1b2";
$msv-success: "\f058";
$msv-warning: "\f05a";
$msv-error: "\f057";
$msv-envelope: "\f658";
$msv-magnifying-glass: $msv-Search;
$msv-heart: $msv-Heart;
$msv-shopping-bag: $msv-Shop;
$msv-x-shape: $msv-Cancel;

//Responsive
$msv-breakpoint-260: 260px;
$msv-breakpoint-303: 303px;
$msv-breakpoint-318: 318px;
$msv-breakpoint-319: 319px;
$msv-breakpoint-356: 356px;
$msv-breakpoint-360: 360px;
$msv-breakpoint-408: 408px;
$msv-breakpoint-422: 422px;
$msv-breakpoint-441: 441px;
$msv-breakpoint-541: 541px;
$msv-breakpoint-573: 573px;
$msv-breakpoint-574: 574px;
$msv-breakpoint-m: 767px;
$msv-container-max-width-s: 768px;
$msv-container-min-width-m: 769px;
$msv-breakpoint-960: 960px;
$msv-breakpoint-991: 991px;
$msv-breakpoint-l: 992px;
$msv-breakpoint-1092: 1092px;
$msv-breakpoint-1240: 1240px;
$msv-breakpoint-1241: 1241px;
$msv-breakpoint-1280: 1280px;
$msv-breakpoint-1365: 1365px;
$msv-breakpoint-1366: 1366px;
$msv-breakpoint-1517: 1517px;
$msv-breakpoint-1920: 1920px;
$msv-breakpoint-1920: 1536px;

:root {
    //Color
    --msv-bg-color: #{$msv-gray-100};
    --msv-font-primary-color: #{$msv-black};
    --msv-font-secondary-color: #{$msv-white};
    --msv-border-color: #{$msv-gray-100};
    --msv-btn-input-border-color: #{$msv-gray-500};
    --msv-accent-brand-color: #{$msv-primary};
    --msv-accent-brand-alt-color: #{$msv-primary-hover};
    --msv-accent-secondary-btn: #{$msv-secondary-hover};
    --msv-error-color: #{$msv-red};
    --msv-success-color: #{$msv-green};
    --msv-modal-bg-color: #{$msv-white};
    --msv-modal-font-color: var(--msv-font-primary-color);
    --msv-flyout-bg-color: #{$msv-white};
    --msv-selected-button-background: #{$msv-selected-button-background};
    --msv-selected-hovered-button-background: #{$msv-selected-hovered-button-background};
    //Font
    --msv-heading-font-size-s: #{$msv-title-font-size-xs};
    --msv-heading-font-size-m: #{$msv-title-font-size-s};
    --msv-heading-font-size-l: #{$msv-title-font-size-m};
    --msv-heading-font-size-xl: #{$msv-title-font-size-l};
    --msv-body-font-size-s: #{$msv-font-size-s};
    --msv-body-font-size-m: #{$msv-font-size-m};
    --msv-body-font-size-l: #{$msv-font-size-l};
    --msv-body-font-size-xl: #{$msv-font-size-xl};
    --msv-body-font-size-xxl: #{$msv-font-size-xxl};
    --msv-font-weight-bold: #{$msv-font-weight-bold};
    --msv-font-weight-normal: #{$msv-font-weight-normal};
    --msv-font-weight-light: #{$msv-font-weight-light};
    --msv-font-weight-heavy: #{$msv-font-weight-heavy};
}